

body{

    background-image:url(https://thumbs.gfycat.com/SpottedUglyIrukandjijellyfish-size_restricted.gif);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;

    }

    body{
        color: white;
    }




    